body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1300px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header{
    width: 1300px;
    height: 100px;
    display: flex;
}
.logo{
    
    height: 100px;
}
.log_img{
    width: 350px;
    height: 95px;
    text-align: center;
    margin: 5px auto;
}
.log_img img{
    width: 250px;
    height: 95px;
}
.header_img{
    background-color: lightseagreen;
    width: 950px;
    height: 100px;
}
.center{
    width: 1300px;
    height: 700px;
    color: white;
    display: flex;
}
.left{
    width: 350px;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.new{
    border: 1px solid #999;
    border-radius: 10px;
    color: black;
    width: 330px;
    height: 180px;
    margin: 0 auto;
    margin-top: 20px;
}
.new_idpass{
    width: 330px;
    height: auto;
}
.idpass{
    display: flex;
    margin: 10px;
}
.text{
    width: 100px;
    font-size: 15pt;
    font-weight: 700;
    text-align: right;
    padding-right: 10px;
}
.idpass input{
    width: 200px;
    height: 28px;
    font-size: 13pt;
    border: 1px solid #999;
    border-radius: 10px;
}
.text{
    font-size: 20px;
    font-weight: 800;  
}
.button button{
    width: 300px;
    height: 30px;
    margin: 10px;
    color: white;
    border: 0;
    border-radius: 10px;
    background-color: rgb(59, 59, 202);
    font-weight: 700;
    font-size: 20px;
}
.button button:hover{
    cursor: pointer;
}
.new_find{
    display: flex;
    justify-content:space-between;
    margin: 5px;
}
.new_a a{
    color: black;
    text-decoration: none;
}

.menu{
    width: 332px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}
.li_menu{
    width: 332px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}
.li_menu a{
    color: black;
    text-decoration: none;
}
.li_div{
    border: 1px solid rgb(198, 202, 240);
    font-size: 30px;
    font-weight: 800;
    margin: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(198,202,240);
}
.li_div:hover{
    cursor: pointer;
}
.right{
    background-color: lightsalmon;
    width: 950px;
    height: 700px;
}
.right_img{
    background-color: lightgreen;
    width: 850px;
    height: 200px;
    margin: 70px auto;
}